<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
<main>
  <div class="jumbotron">

        <% rows.forEach(function(row) { %>
          <div class="tea-block">
            <img src="/images/<%= row.tea_name %>.jpg">
            <div class="text">
              <strong><%= row.tea_name %> <%= row.tea_type %> Tea</strong>
              <br>Description: <%= row.description %>
            </div>
          </div>
        <% }); %>
  </div>
</main>

</body>
</html>